/*  --chili-red: #f2281eff;
    --orange-peel: #fea000ff;
    --avocado: #4d8a00ff;
    --sapphire: #0250b2ff;
    --rebecca-purple: #6d399eff;
    */

*{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    margin: 20px;
}
.nav {
    display: flex;
    width: 750 px;
    margin: auto;
}

a {
    width: fit-content;
    height: fit-content;
    margin: auto;
    color:#f2281e;
}


button{
    padding: 15px 30px;
    margin: 10px;
    width: 150px;
 }

button:hover{
    cursor: pointer;
    background-color:whitesmoke;
}
 
.container > div {
  border-radius: 5px;
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}
  
.dropbtn {
    padding: 15px 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px opx rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 12px 16px;

}

.dropdown:hover .dropdown-content {display: block;}
